{% extends "auth_base.html" %}

{% block title %}Register{% endblock title %}

{% block content %}

    <form class="form-signin" action="{% url 'register' %}" method="POST">
      {% csrf_token %}

      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">User Registration</h1>
        <p class="text-center">Register to access film records.</p>
      </div>

      <div class="form-label-group">
        <input type="name" name="inputName" id="inputName" value="{{ data.inputName }}" class="form-control" placeholder="Name" hx-post="{% url 'clean_name' %}" hx-trigger="keyup delay:200ms" hx-target="#info_name" required autofocus >
        <label for="inputName">Name</label>
        <div id="info_name">
          {% if error.name %}
          <div class="mt-2 alert alert-danger">
            <p class="mb-0">{{ error.name }}</p>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="form-label-group">
        <input type="email" name="inputEmail" id="inputEmail" value="{{ data.inputEmail }}" class="form-control" placeholder="Email address" hx-post="{% url 'clean_email' %}" hx-trigger="keyup delay:200ms" hx-target="#info_email" required autofocus>
        <label for="inputEmail">Email address</label>
        <div id="info_email">
          {% if error.email %}
          <div class="mt-2 alert alert-danger">
            <p class="mb-0">{{ error.email }}</p>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="form-label-group">
        <input type="password" name="inputPassword"  id="inputPassword" value="{{ data.inputPassword }}" class="form-control" placeholder="Password" hx-post="{% url 'clean_pass' %}" hx-trigger="keyup delay:200ms" hx-target="#info_pass" required>
        <label for="inputPassword">Password</label>
        <div id="info_pass">
          {% if error.pass %}
          <div class="mt-2 alert alert-danger">
            <p class="mb-0">{{ error.pass }}</p>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="form-label-group mb-4">
        <input type="password" name="inputRepeatPassword" id="inputRepeatPassword" class="form-control" placeholder="Repeat Password" hx-post="{% url 'confirm_pass' %}" hx-trigger="keyup delay:200ms" hx-target="#info_repass" required>
        <label for="inputRepeatPassword">Repeat Password</label>
        <div id="info_repass">
          {% if error.confirm_pass %}
          <div class="mt-2 alert alert-danger">
            <p class="mb-0">{{ error.confirm_pass }}</p>
          </div>
          {% endif %}
        </div>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      <p class="mt-3 text-center">Are you already registered? <a href="{% url 'login' %}">Log in</a></p>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2024</p>

    </form>

{% endblock content %}